[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
seaborn = "*"
jupyterlab = "*"
ipykernel = "*"
scikit-learn = "*"
networkx = "*"
"node2vec" = "*"

[dev-packages]

[requires]
python_version = "3.7"
